@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  }

body{
    margin: 0;
    padding: 0;
    font-family: OpenSans;
    background-color: #efefef;
}

li{
    /*font-family: Georgia;*/
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

.tags-container{
    display: flex;
    flex-flow: wrap;
}

.tag{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 50px;
    border-color: #a6c1ee;
    border-width: 3px;
    border-style: solid;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;

}

.tag span{
    font-size: 1.2rem;
    
}

.container{
    display: flex;
    flex-direction: column;
}

.header-container{
    background-image: linear-gradient(to right, #FCC482 0%, #9E7BFF 100%);
    /*box-shadow: 1px 0px 10px 0px black ;*/
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

}

.footer-container{
    background-image: linear-gradient(to right, #FCC482 0%, #9E7BFF 100%);
    height: 20vh;
    z-index: 4;
    width: 100%;
}

.header-info-container{
    z-index: 1;
    position: absolute;
    padding-right: 5rem;
    padding-left: 5rem;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items:center;
    justify-content: start;
}

.header-name{
    display: flex;
    flex-direction: column;
    flex: 1;
    /*font-family: Georgia;*/
    align-items: flex-start;
}

.bio-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    justify-content: space-evenly;
}

.bio{
    flex: 1;
    font-size: 1.2rem;
    /*font-family: Georgia;*/
    padding-left: 2.5rem;
}


.header-info-container-level0{
}

.avatar{
    height: 100%;
    position: absolute;
    top: -15%;
    right: 0%;
    z-index: 0;
}

.main-title{
    font-size: 2.5rem;
    font-weight:bold;
    /*font-family: Georgia;*/
}

.sub-title{
    font-size: 1.7rem;
    /*font-family: Georgia;*/

}


.section-title-container{

}

.section-body-container{
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.section-title{
    font-size: 1.5rem;
    /*font-family: Georgia;*/
}

.main-content{

    z-index: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
}

.project-grid{

    display: flex;
    flex-direction: column;
}

.project-image{

    width: 20vw;
    height: 20vw;
    object-fit: cover;
}

.project-box{
    display: flex;
    flex-direction: row;
}

.project-title{
    font-weight: bold;
}

.project-text{
    padding-left: 1rem;
}

.more-details-button{
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50vw;
    top: 60vh;

}

.button-text1{
    font-size: 1.2rem;
    /*font-family: Georgia;*/
    padding-bottom: 1rem;

}

.button-icon1{
    height: 3rem;
}

.icon-container1{
    background-color: white;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    padding: 0.3rem;
    box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.664) ;
    transition: transform 0.2s ease-out 0.2ms
}

.icon-container1:hover{
    transform: scale(1.2);
}

.header-menu-container{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}

.header-menu{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;

}

.header-menu.active{
    background-image: linear-gradient(to right, #FCC482 0%, #9E7BFF 100%);
}

.menu-item{
    padding: 0;
    margin: 0 2.5rem 0 2.5rem;
    font-weight: bold;
}

.contact-info-item{
    display: flex;
}

.contact-info-item p{
    font-weight: bold;
}

.header-menu a{
    text-decoration:none;
    color: black;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.15rem;
    bottom: 0;
    left: 0;
    background-color:black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.can-do-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
    column-gap: 1rem;
    row-gap: 1rem;

}

.can-do-item{
    padding: 1rem;
    border-width: 0.2rem;
    border-style: solid;
    border-radius: 2rem;
    border-color: #9E7BFF;
}

.separator{
    height: 0.2rem;
    width: 100%;
    background-image: linear-gradient(to right, #FCC482 0%, #9E7BFF 100%);
    display: block;

}

.can-do-item p{
    color: #9E7BFF;
    font-weight: bold;
}

@media (max-width: 900px) {
    .header-container{
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }

    .avatar{
        height: 100%;
        position: absolute;
        top: -15%;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 0;
    }

    .header-name{
        align-items: center;
        padding-bottom: 1rem;
    }

    .bio-container{
        flex-direction: column;
    }

    .bio{
        flex: 1;
        font-size: 1.2rem;
        padding-top: 4rem;
        padding-left: 0;
    }

}

